@media screen and
(min-width:1201px){
body{
	background-image:url("Images/fundal.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
	
#container{
	#width:1200px;
	width:85vw;
	margin:auto;
	text-align:center;
	#margin-top:20px;
	margin-top:5vh;
	}

#banner{
	background-image:url("Images/logo.jpg");
	#height:400px;
	height:50vh;
	background-size: 100% 100%;		
	background-repeat: no-repeat;
	}

#meniu ul,.dropdown-content1{
	list-style-type:none;
	background-color:#80d4ff;
	margin:0px;
	padding:0px;
	overflow:hidden;
	
	}

.dropdown-content1 {
	display: none;
	position: absolute;
	#min-width: 186px;
	width:10.8%;
	box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.openbtn {
  display:none;
}


.sidebar {
  display:none;
}

.sidebar a {
 display:none;}

.sidebar a:hover {
  display:none;
  }

.sidebar .closebtn {
  display:none;
}

#meniu li a{
	display:block; 
	text-decoration:none;
	color:white;
	padding:15px 27px;
	text-align: center;
	}
	
#meniu ul a:hover{
	background-color:#00b0cf;
	}
	
#meniu li {
	float:left;
	width:12.5%;
	}
	
#continut {
	padding:35px;
	text-align:justify;
	background-color:white;
	opacity: 0.9;
	}
	
#container-audio{
	display: flex;
	justify-content: center;
	align-items: center 
	}
h2,h1,h3,h4,h5{
	text-align:center;
	}
	
li.dropdown1 {
	display: inline-block;
	}
.dropdown-content1 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	}

.dropdown-content1 a:hover {
	background-color: #f1f1f1;
	}

.dropdown1:hover .dropdown-content1 {
	display: block;
	}
#container-audio{
	display: flex;
  justify-content: center;
align-items: center }
}


@media screen and
(min-width:701px) and (max-width:1200px){
body{
	background-image:url("Images/fundal.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
#container{
	#width:1200px;
	width:100%;
	margin:auto;
	text-align:center;
	#margin-top:20px;
	#margin-top:5vh;
	}
#banner{
	background-image:url("Images/logo.jpg");
	#height:400px;
	height:40vh;
	background-size: 100% 100%;		
	background-repeat: no-repeat;
	}

#main {
  transition: margin-left .5s;
  padding: 16px;
	}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  float:left;
	}

.openbtn:hover {
  background-color: #444;
	}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
	}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
	}

.sidebar a:hover {
  color: #f1f1f1;
	}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
	}
#meniu ul,.dropdown-content1{
	display:none;
	
	}

.dropdown-content1 {
	display:none;
}
#continut {
	padding:35px;
	text-align:justify;
	background-color:white;
	opacity: 0.9;
	}

	
h2,h1,h3,h4,h5{
	text-align:center;
	}


#container-audio{
	display: flex;
	justify-content: center;
	align-items: center;
	}

}

@media screen and (max-width:700px){
body{
	background-image:url("Images/fundal.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
#container{
	#width:1200px;
	width:100%;
	margin:auto;
	text-align:center;
	#margin-top:20px;
	#margin-top:5vh;
	}
#banner{
	background-image:url("Images/logo.jpg");
	#height:400px;
	height:40vh;
	background-size: 100% 100%;		
	background-repeat: no-repeat;
	}

#main {
  transition: margin-left .5s;
  padding: 16px;
	}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  float:left;
	}

.openbtn:hover {
  background-color: #444;
	}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
	}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
	}

.sidebar a:hover {
  color: #f1f1f1;
	}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
	}
#meniu ul,.dropdown-content1{
	display:none;
	
	}

.dropdown-content1 {
	display:none;
}
#continut {
	padding:35px;
	text-align:justify;
	background-color:white;
	opacity: 0.9;
	}

	
h2,h1,h3,h4,h5{
	text-align:center;
	}

#container-audio{
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
